<!DOCTYPE html>
<html>
  <head>
    <title>One</title>
    
    <% include include/game.ejs %>    
 
    <script>   
      
      function userScriptLoaded() { 
        
        var initGame = module.tp$getattr('initGame');
        var turnTaken = module.tp$getattr('turnTaken');
        
        var hitEnergyEvent = module.tp$getattr('hitEnergyEvent');
        var hitWallEvent = module.tp$getattr('hitWallEvent');
        var hitMonsterEvent = module.tp$getattr('hitMonsterEvent');
        var goalReachedEvent = module.tp$getattr('goalReachedEvent');
                
        if(initGame) {
          gameStarted(function () {
            Sk.misceval.callsim(initGame);
          });                
        }
        
        if(turnTaken) {
          endOfTurn(function () {
            Sk.misceval.callsim(turnTaken);
          })
        }

        if(hitEnergyEvent) {
          playerHitEnergy(function(object) {
            Sk.misceval.callsim(hitEnergyEvent);
            removeObject(object);
          });
        }
        
        if(hitWallEvent) {
          playerHitWall(function() {
            Sk.misceval.callsim(hitWallEvent);
          });
        }
        
        if(hitMonsterEvent) {
          playerHitMonster(function() {
            Sk.misceval.callsim(hitMonsterEvent);
          });
        }
        
        if(goalReachedEvent) {
          playerHitGoal(function() {
            Sk.misceval.callsim(goalReachedEvent);
          })
        }
        
        createRandomMaze(16,8)           
      }       

      document.addEventListener('DOMContentLoaded', function() {
        importPythonGame();
        
        // Load the user script file
        loadUserScript('/py/diy.py')
        
      })    
    </script>
    
  </head>
  <body>
    <div id="game"></div>
  </body>
</html>
