<!DOCTYPE html>
<html>
  <head>
    <title>One</title>
    
    <% include include/game.ejs %>    
 
    <script>   
         
      
      function userScriptLoaded() {
        keyPressed (keyPressedEvent)
      }      
      
      document.addEventListener('DOMContentLoaded', function() {    
        
        // Set up game
        createRandomMaze(16, 8) 
  
        
        // Load the user script file
        loadUserScript('/js/kb.js')
        
      })    
    </script>
    
  </head>
  <body>
    <div id="game"></div>
  </body>
</html>
